* {
    box-sizing: border-box;
}

body {
    padding: 30px;
}

.brand-header {
    grid-area: header;
}

.nav-links {
    grid-area: nav;
}

.story-1 {
    grid-area: story-1;
}

.story-2 {
    grid-area: story-2;
}
.story-3 {
    grid-area: story-3;
}
.story-4 {
    grid-area: story-4;
}
.story-5 {
    grid-area: story-5;
}

.page {
    display: grid;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "story-1 story-2 story-3"
                         "story-4 story-5 story-5";
}

.brand{
    font-family: "Snell Roundhand";
    font-weight: normal;
    font-size: 60px;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: 3px solid black;
    padding: 30px;
    margin: 0;
}

.section-link {
    text-decoration: none;
    color: #666;
    font-family: "Futura";
    font-size: 30px;
    font-weight: bold;
}

.section-link:hover {
    text-decoration: underline;
}

.story {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    padding: 10px;
}

.story-3 {
    border-right: 3px solid black;
}

.story-5 {
    border-right: 3px solid black;
}

.article-title {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    font-size: 30px;
}

.article-img {
    max-height: 250px;
    display: block;
    margin: 0 auto;
}